<!DOCTYPE html>
<html>
    <head>
    <title>Globe</title>
    <script src="/javascripts/p5.min.js"></script>
    <script src="/javascripts/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <button id="buttonRight">Right</button>
        <button id="buttonLeft">Left</button>
        <button id="buttonUp">Up</button>
        <button id="buttonDown">Down</button>
        <button id="buttonZoomIn">Zoom in</button>
        <button id="buttonZoomOut">Zoom out</button>
        <a href="http://127.0.0.1:3000/iss"><button id="buttonISS">Show ISS</button></a>
        <script src = "/javascripts/globe.js"></script>
    </body>
</html>