<!DOCTYPE html>
<html>
    <head>
    <title>Globe</title>
    <script src="/javascripts/p5.min.js"></script>
    <script src="/javascripts/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <div id="wrapper"></div>
        <button id="buttonRight">Right</button>
        <button id="buttonLeft">Left</button>
        <button id="buttonUp">Up</button>
        <button id="buttonDown">Down</button>
        <button id="buttonZoomIn">Zoom in</button>
        <button id="buttonZoomOut">Zoom out</button>
        <button id="buttonGlobe">Globe</button>
        <script>
            
            let log;
            let lat;

            setInterval(function() {
            
        
            httpRequest = new XMLHttpRequest();

            if (!httpRequest) {
                alert('Giving up :( Cannot create an XMLHTTP instance');
            }
            httpRequest.onreadystatechange = assignVars;
            httpRequest.open('GET', 'http://api.open-notify.org/iss-now.json');
            httpRequest.send();


            function assignVars() {
                if (httpRequest.readyState === XMLHttpRequest.DONE) {
                    if (httpRequest.status === 200) {
                        issData = JSON.parse(httpRequest.responseText);
                        log = PI + 0.0174532*(issData.iss_position.longitude);
                        lat = 0.0174532*(issData.iss_position.latitude);
                        
                    } else {
                        alert('There was a problem with the request.');
                    }
                }
            }
        }, 3000);

        
         </script>



        <script>
            let earthTexture;
            let backgroundImg;
            let horAngle;
            let verAngle;
            let initX;
            let initY;
            let r;
            let difX;
            let difY;
            let zoomIn = false;
            let zoomOut = false;
            let height = 0.9*window.innerHeight;
            let width = 0.9*innerWidth;
            let sunDist = 80000;
            let sunAngle;
            let hours;
            const earthRadius = height*0.32*2;


function setup(){

    let refTime = new Date().toLocaleString("en-US", {timeZone: "Pacific/Auckland"}).toString();

    res = refTime.split(' ');

    if(res[1][1]==":"){
        hours = res[1][0];
    }
    else{
        hours = res[1][0].concat(res[1][1]);
    }

    verAngle = 0;
    horAngle =0;
    r = 2*(height/2)/tan(PI/6);
    backgroundImg = loadImage('/images/2k_stars.jpg');
    earthTexture = loadImage('/images/8k_earth.jpg');
    cnv = createCanvas(width, height, WEBGL);
    cnv.parent('wrapper');
    sunAngle = 2*PI*hours/24;
    
}

function draw(){
    if(zoomIn == true && r > height*0.42*2){
        r -= 2;
    }
    if(zoomOut == true && r < height*3){
        r += 2;
    }
    camera(r*sin(horAngle)*cos(verAngle), r*sin(verAngle), r*cos(horAngle)*cos(verAngle), 0,0,0,0,1,0);
    texture(backgroundImg);
    box(width*5,height*5,10000);
    pointLight(200,200,200, sunDist*sin(sunAngle),sunDist*1/215,-sunDist*cos(sunAngle)); //placing 4 lights at the outer points of the sun - the sun's radius is 1/215 of its distance to earth
    pointLight(200,200,200, sunDist*sin(sunAngle),-sunDist*1/215,-sunDist*cos(sunAngle));
    pointLight(200,200,200, sunDist*sin(sunAngle),0,-sunDist*cos(sunAngle)+sunDist*1/215);
    pointLight(200,200,200, sunDist*sin(sunAngle),0,-sunDist*cos(sunAngle)-sunDist*1/215);

    ambientLight(50);
    fill(50);
    noStroke();
    texture(earthTexture);
    sphere(earthRadius);
    showISS();
    
}

var intervalId;
$("#buttonRight").mousedown(function() {
            intervalId = setInterval(rotateRight, 1);
}).mouseup(function() {
  clearInterval(intervalId);
});
$("#buttonLeft").mousedown(function() {
            intervalId = setInterval(rotateLeft, 1);
}).mouseup(function() {
  clearInterval(intervalId);
});
$("#buttonUp").mousedown(function() {
            intervalId = setInterval(rotateUp, 1);
}).mouseup(function() {
  clearInterval(intervalId);
});
$("#buttonDown").mousedown(function() {
            intervalId = setInterval(rotateDown, 1);
}).mouseup(function() {
  clearInterval(intervalId);
});
$("#buttonZoomIn").mousedown(function() {
    zoomIn = true;
}).mouseup(function() {
    zoomIn = false;
});
$("#buttonZoomOut").mousedown(function() {
    zoomOut = true;
}).mouseup(function() {
  zoomOut = false;
});



function rotateRight(){
    horAngle += 0.003;
}
function rotateLeft(){
    horAngle -= 0.003;
}
function rotateUp(){
    if(verAngle > -0.5*PI+0.0031){
    verAngle -= 0.003;
    }
}
function rotateDown(){
    if(verAngle < 0.5*PI - 0.0021)
    verAngle += 0.003;
}


function showISS(){
  alt = earthRadius * (1 + 408/6371);

  translate(alt*sin(log)*cos(lat),-alt*sin(lat),alt*cos(log)*cos(lat));
  fill('red');
  sphere(10);
}

function checkTime(i) {
        return (i < 10) ? "0" + i : i;
    }
        </script>
    </body>
</html>